<div>
  <h1>D3JS component works</h1>
  <div>
    <svg id="container">
      <!--      nothing but emptiness -->
    </svg>
  </div>

  <div>
    Data array - {{barData}}
  </div>

  <button
    mat-button
    mat-raised-button
    color="accent"
    (click)="changeData()"
  >
    Rerender graph with random data
  </button>

  <div>
    <svg id="container-2">
      <!--      nothing but emptiness 2 -->
    </svg>
  </div>
</div>
