<ngrx-test-main-header></ngrx-test-main-header>
<mat-card>
  <mat-card-title
    >Main component (module) from NGRX Libs rendered through application
    routing</mat-card-title
  >

  <form [formGroup]="form" autocomplete="off">
    <div>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter book name</mat-label>
        <input matInput formControlName="bookName" type="text" required />
      </mat-form-field>
    </div>

    <button
      mat-button
      mat-raised-button
      color="primary"
      [disabled]="form.invalid"
      (click)="confirm()"
    >
      Search books!
    </button>
  </form>
</mat-card>

<div style="text-align: center">
  <ul *ngFor="let book of (books | async)" style="margin-top: 35px">
    <li>Title: {{book.volumeInfo.title}}</li>
    <li>Published date: {{book.volumeInfo.publishedDate}}</li>
    <li>Language: {{book.volumeInfo.language}}</li>
    <li>
      <img [src]="book.volumeInfo.imageLinks.smallThumbnail" [alt]="book.volumeInfo.title">
    </li>
  </ul>
</div>
